@charset "UTF-8";
/* CSS Document */


/***************************************************
 		HERE'S YOUR RESPONSIVE GRID SYSTEM.
 ***************************************************/
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float: left;
	margin: 0% 0 0% 0;
}

.col:first-child {
	margin-left: 0; 
}

/*  GROUPING  */
.group:before, .group:after {
	content: "";
	display: table;
}
	
.group:after {
	clear: both;
}
	
.group {
	zoom: 1; /* For IE 6/7 */
}



/***************************************************
  		TWO-COLUMN GRID FOR ALL OF THAT WORK.
 ***************************************************/
 /*  GRID OF TWO  */
.maincontainer .span_2_of_2 {
	width: 100%;
}

.maincontainer .span_1_of_2 {
	width: 50%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 0% 0 0% 0;
	}
}

@media only screen and (max-width: 480px) {
	.maincontainer .span_2_of_2,
	.maincontainer .span_1_of_2 {
		width: 100%;
	}
}




